# tracked
fit2.json
g1000_eur_hm3_chr21.ld
g1000_eur_hm3_chr22.ld
g1000_eur_hm3_chr@.snps
process_data.ipynb
trait1.fit1.json
trait2.fit1.json

# untracked
fit1.csv
fit2.csv
fit2.snps.csv
fit2.svg
plsa_baseline.test2.snps.csv
plsa_baseline_fit2.csv
plsa_baseline_fit2.svg
plsa_trait1_baseline--gsa-base.done
plsa_trait1_baseline--gsa-base.snps.csv
plsa_trait1_baseline--gsa-base.weights
plsa_trait1_baseline.done
plsa_trait1_baseline.fit1.csv
plsa_trait1_baseline.snps.csv
plsa_trait1_baseline.test1.csv
plsa_trait1_baseline.test1.power.csv
plsa_trait1_baseline.test1.power.svg
plsa_trait1_baseline.test1.qq.svg
plsa_trait1_baseline.test1.qqbin.svg
plsa_trait1_baseline.test1.snps.csv
plsa_trait1_baseline.weights
plsa_trait1_model-vs-baseline.annot_enrich.csv
plsa_trait1_model-vs-baseline.done
plsa_trait1_model-vs-baseline.go_enrich.csv
plsa_trait1_model-vs-baseline.go_test_enrich.csv
plsa_trait1_model-vs-baseline.snps.csv
plsa_trait1_model.done
plsa_trait1_model.go_enrich.csv
plsa_trait1_model.go_test_enrich.csv
plsa_trait1_model.snps.csv
plsa_trait2_baseline.done
plsa_trait2_baseline.snps.csv
plsa_trait2_baseline.weights
simu.1.causals
simu.pheno
simu_pi=1_hsq=0p9.1.causals
simu_pi=1_hsq=0p9.fit1.csv
simu_pi=1_hsq=0p9.fit1.qq.svg
simu_pi=1_hsq=0p9.fit1.qqbin.svg
simu_pi=1_hsq=0p9.pheno
simu_pi=1_hsq=0p9.plsa.done
simu_pi=1_hsq=0p9.sumstats.gz
simu_pi=1_hsq=0p9.test1.csv
simu_pi=1_hsq=0p9.test1.power.csv
simu_pi=1_hsq=0p9.test1.power.svg
simu_pi=1_hsq=0p9.test1.qq.svg
simu_pi=1_hsq=0p9.test1.qqbin.svg
simu_pi=1_hsq=0p9.trait1.glm.linear
simu_pi=1_hsq=0p9.trait1.glm.linear.id
test1.csv
test1.power.csv
test1.power.svg
test1.qq.svg
test1.qqbin.svg
test2.csv
test2.power.csv
test2.power.svg
test2.qq.svg
test2.qqbin.svg
test2.snps.csv
trait1.chr21.sumstats.gz
trait1.chr22.sumstats.gz
trait1.filtered.sumstats.gz
trait2.chr21.sumstats.gz
trait2.chr22.sumstats.gz
trait2.filtered.sumstats.gz

