data/fit2.log
data/fit2.weights
data/fit2_region.json
data/fit2_region.log
data/g1000_eur_hm3_chr21.bin
data/g1000_eur_hm3_chr21.ld.log
data/g1000_eur_hm3_chr21to22.bin
data/g1000_eur_hm3_chr21to22.log
data/g1000_eur_hm3_chr22.bin
data/g1000_eur_hm3_chr22.ld.log
data/g1000_eur_hm3_chr@.log
data/g1000_eur_hm3_chr@.snps.log
data/ldsc_reference_chr21.l2.M
data/ldsc_reference_chr21.l2.M_5_50
data/ldsc_reference_chr21.l2.ldscore.gz
data/ldsc_reference_chr21.mat
data/ldsc_reference_chr22.l2.M
data/ldsc_reference_chr22.l2.M_5_50
data/ldsc_reference_chr22.l2.ldscore.gz
data/ldsc_reference_chr22.mat
data/ldsc_reference_chr@.log
data/plsa_baseline.fit2.json
data/plsa_baseline.fit2.log
data/plsa_baseline.test2.json
data/plsa_baseline.test2.log
data/plsa_infinitesimal.fit2.json
data/plsa_infinitesimal.fit2.log
data/plsa_trait1_baseline.fit1.json
data/plsa_trait1_baseline.fit1.log
data/plsa_trait1_baseline.json
data/plsa_trait1_baseline.log
data/plsa_trait1_baseline.test1.json
data/plsa_trait1_baseline.test1.log
data/plsa_trait1_infinitesimal.fit1.json
data/plsa_trait1_infinitesimal.fit1.log
data/plsa_trait1_model-vs-baseline.annot_test_enrich.csv
data/plsa_trait1_model-vs-baseline.json
data/plsa_trait1_model-vs-baseline.log
data/plsa_trait1_model.json
data/plsa_trait1_model.log
data/plsa_trait2_baseline.fit1.json
data/plsa_trait2_baseline.fit1.log
data/plsa_trait2_baseline.json
data/plsa_trait2_baseline.log
data/plsa_trait2_infinitesimal.fit1.json
data/plsa_trait2_infinitesimal.fit1.log
data/test2.log
data/trait1.fit1.log
data/trait1.test1.json
data/trait1.test1.log
data/trait1.test1.snps.csv
data/trait2.fit1.log
data/trait2.test1.json
data/trait2.test1.log
data/test2.json
data/trait2.test1.snps.csv
data/ldsc_reference_chr@.done
data/trait1.chr@.sumstats.gz.log
data/trait2.chr@.sumstats.gz.log
tiny/chr21qc.mixer.ld

