baseline_v2.2_ukb_imp_chr3_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr5_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr11_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr14_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr15_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr2_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr7_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr17_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr19_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr20_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr21_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr10_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr13_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr6_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr8_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr22_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr4_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr9_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr12_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr16_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr18_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_ukb_imp_chr1_v3_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr1_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr20_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr21_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr22_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr3_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr10_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr18_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr4_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr5_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr6_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr11_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr15_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr2_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr7_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr13_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr14_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr16_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr17_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr19_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr8_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr9_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr12_v3_qc.bim filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr21_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr3_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr8_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr9_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr10_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr12_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr13_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr1_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr18_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr2_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr5_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr6_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr7_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr15_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr16_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr19_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr22_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr4_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr11_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr14_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr17_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_imp_chr20_v3_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
ukb_EUR_qc.ref filter=lfs diff=lfs merge=lfs -text
