baseline_v2.2_hrc_chr9_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr10_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr17_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr6_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr7_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr13_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr19_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr5_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr18_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr1_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr21_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr2_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr11_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr12_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr15_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr16_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr8_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr4_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr14_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr20_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr22_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
baseline_v2.2_hrc_chr3_EUR_qc.annot.gz filter=lfs diff=lfs merge=lfs -text
hrc_chr3_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr8_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr12_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr13_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr15_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr17_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr19_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr16_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr20_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr21_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr22_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr5_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr14_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr1_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr6_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr7_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr9_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr10_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr11_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr18_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr2_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr4_EUR_qc.run1.ld.log filter=lfs diff=lfs merge=lfs -text
hrc_chr14_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr15_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr9_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr6_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr7_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr17_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr18_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr3_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr5_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr10_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr11_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr12_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr1_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr20_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr21_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr22_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr2_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr13_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr16_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr19_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr4_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_chr8_EUR_qc.bim filter=lfs diff=lfs merge=lfs -text
hrc_EUR_qc.ref filter=lfs diff=lfs merge=lfs -text
