Conserved_LindbladToh.bed.gz filter=lfs diff=lfs merge=lfs -text
Enhancer_Andersson.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K9ac_peaks_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
UTR_5_UCSC.bed.gz filter=lfs diff=lfs merge=lfs -text
WeakEnhancer_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Enhancer_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me1_peaks_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
Intron_UCSC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Coding_UCSC.bed.gz filter=lfs diff=lfs merge=lfs -text
FetalDHS_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
Transcribed_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
UTR_5_UCSC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Ancient_Sequence_Age_Human_Enhancer.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Primate_phastCons46way.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Primate_phastCons46way.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
DHS_Trynka.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
TFBS_ENCODE.bed.gz filter=lfs diff=lfs merge=lfs -text
TFBS_ENCODE.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
DHS_peaks_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
DHS_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K27ac_PGC2.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K9ac_Trynka.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Promoter_Villar.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
SuperEnhancer_Hnisz.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
WeakEnhancer_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
Coding_UCSC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me1_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
Intron_UCSC.bed.gz filter=lfs diff=lfs merge=lfs -text
Repressed_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
Vahedi_Tcell_SE.bed.gz filter=lfs diff=lfs merge=lfs -text
Ancient_Sequence_Age_Human_Promoter.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Vertebrate_phastCons46way.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
TSS_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me3_Trynka.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Enhancer_Villar.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Repressed_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Ancient_Sequence_Age_Human_Promoter.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Mammal_phastCons46way.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Vertebrate_phastCons46way.bed.gz filter=lfs diff=lfs merge=lfs -text
CTCF_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K27ac_Hnisz.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Enhancer_Villar.bed.gz filter=lfs diff=lfs merge=lfs -text
Promoter_UCSC.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K9ac_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
Transcribed_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
UTR_3_UCSC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Vahedi_Tcell_TE.bed.gz filter=lfs diff=lfs merge=lfs -text
Backgrd_Selection_Stat.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_Mammal_phastCons46way.bed.gz filter=lfs diff=lfs merge=lfs -text
DGF_ENCODE.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Promoter_Villar_ExAC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
PromoterFlanking_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
SuperEnhancer_Hnisz.bed.gz filter=lfs diff=lfs merge=lfs -text
TSS_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Conserved_LindbladToh.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Promoter_UCSC.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
CTCF_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me3_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
UTR_3_UCSC.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K27ac_PGC2.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Promoter_Villar.bed.gz filter=lfs diff=lfs merge=lfs -text
Human_Promoter_Villar_ExAC.bed.gz filter=lfs diff=lfs merge=lfs -text
PromoterFlanking_Hoffman.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
BivFlnk.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Enhancer_Andersson.bed.gz filter=lfs diff=lfs merge=lfs -text
FetalDHS_Trynka.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K27ac_Hnisz.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me3_peaks_Trynka.bed.gz filter=lfs diff=lfs merge=lfs -text
Vahedi_Tcell_SE_500bp.bed.gz filter=lfs diff=lfs merge=lfs -text
Ancient_Sequence_Age_Human_Enhancer.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
BivFlnk.bed.gz filter=lfs diff=lfs merge=lfs -text
DGF_ENCODE.bed.gz filter=lfs diff=lfs merge=lfs -text
Enhancer_Hoffman.bed.gz filter=lfs diff=lfs merge=lfs -text
H3K4me1_Trynka.extend.500.bed.gz filter=lfs diff=lfs merge=lfs -text
Vahedi_Tcell_TE_500bp.bed.gz filter=lfs diff=lfs merge=lfs -text
